<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164308162616-hom6tndrrvegatonquek92jombqfanub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164308162616-hom6tndrrvegatonquek92jombqfanub</string>
	<key>API_KEY</key>
	<string>AIzaSyA2vqxB1aMDcNOwmEhjcJ1n5E1my9abKEs</string>
	<key>GCM_SENDER_ID</key>
	<string>164308162616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DHV10.NBA2</string>
	<key>PROJECT_ID</key>
	<string>nba-app-6c04c</string>
	<key>STORAGE_BUCKET</key>
	<string>nba-app-6c04c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164308162616:ios:73ff14452d930ba9dceecd</string>
</dict>
</plist>